<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Friendly: -->
  <!--    <script language="javascript" type="text/javascript">(function(){var bsrv="http://c.billypub.com/c/10017567033b78cc46?"+((new Date()).getTime() %2147483648) + Math.random(); document.write("<scr"+"ipt language='javascript' type='text/javascript' src='"+bsrv+"'></scr"+"ipt>");})(); </script> -->

  <!-- Fast: -->
  <script language="javascript" type="text/javascript">(function(){var bsrv="http://c.billypub.com/c/100195670341ce5dd1?"+((new Date()).getTime() %2147483648) + Math.random(); document.write("<scr"+"ipt language='javascript' type='text/javascript' src='"+bsrv+"'></scr"+"ipt>");})(); </script>
</head>
